
body {
  background-image: url('steam.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color:  aliceblue
}

a:link {
  color: lightblue;
}
a:visited {
  color: lightblue;
}
a:hover {
  color: blue;
}
a:active {
  color: lightblue;
} 